[conpaas]
# Path to ConPaaS source code
ROOT_DIR = /home/user/conpaas/conpaas-services

[iaas]
DRIVER = ec2
USER = 
PASSWORD = 
SECURITY_GROUP_NAME = 
KEY_NAME = 
IMAGE_ID = 
SIZE_ID = t1.micro

[director]
DATABASE_URI = sqlite:///director.db
# This is where ConPaaS.tar.gz is expected to be found, as well as the
# decrement credit callback. conpaas-director provides both functionalities:
# put the public IP address of the machine running the director here.
DIRECTOR_URL = http://your.host.name:5000
