[conpaas]
ROOT_DIR = /home/ema/dev/conpaas/conpaas-services
DOWNLOAD_URL = http://cumulus.zib.de/conpaas-latest

[manager]
FE_CREDIT_URL = http://cumulus.zib.de/conpaas-latest
FE_TERMINATE_URL = http://cumulus.zib.de/conpaas-latest
FE_SERVICE_ID = 1

[iaas]
DRIVER = ec2
USER = 
PASSWORD = 
SECURITY_GROUP_NAME = 
KEY_NAME = 
IMAGE_ID = 
SIZE_ID = t1.micro

[director]
DATABASE_URI = sqlite:///director.db
